body {
    margin: 0; /* Rand um das body-Element entfernen */
    padding: 0; /* Innenabstand des body-Element aufheben */
}



/*Allgemeine Site Div*/
.container {
    background-image: url('Pics/Background.jpg');
    background-size: 100% 100%; 
    background-position: left;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
    box-sizing: border-box;
    display: flex; /*deaktiviert beim Start*/ 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.container > * {
    margin-bottom: 10px; 
}

#webcam-container {
    width: 300px;
    height: 300px;
    background-color: rgb(94, 94, 94);
    border-radius: 20%;
    margin-bottom: 50px;
    margin-top: 10px;
    position: relative;
    z-index: 9999; /*setzt die Kamera nach ganz vorne*/
}

#webcam-canvas {
    width: 100%;
    height: 100%;
    border-radius: inherit; /* Übernimmt die runde Form vom Webcam-Container */
}

/*TU-Font*/
@font-face {
    font-family: 'Open Sans Regular';
    src: url('Fonts/OpenSans-Regular.ttf') format('truetype');
}

.ergebnis_button {
    background-color: rgba(233, 6, 233, 0.815);
    color: white;
    font-family: 'Open Sans Bold', sans-serif;
    border-radius: 20px; 
    padding: 1% 20%; 
    font-size: 20px;
    border: none; 
    cursor: pointer; /* Ändere den Cursor, um anzuzeigen, dass der Button anklickbar ist */
    transition: background-color 0.75s; /* Füge eine Übergangseffekt für den Hover-Effekt hinzu */
}

.ergebnis_button:hover {
    background-color: rgba(104, 2, 104, 0.815); /* Dunklerer Hintergrund beim Hover */
}


/*TU-Font*/
@font-face {
    font-family: 'Open Sans Bold';
    src: url('Fonts/OpenSans-Bold.ttf') format('truetype');
}

#Ergebnis_Text {
    color: #d9e229ff;
    font-family: 'Open Sans Bold', sans-serif; 
    font-size: 30px;
    font-weight: bold;
}

#Exp_Ergebnis, #Exp_Beschreibung {
    color: white; 
    font-family: 'Open Sans Regular', sans-serif;
    font-size: 20px;
    
}

#logo
{
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 30px;
    
}

#camSwitch
{
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: none;
    border: none;
    padding: 0;
    border-radius: 20%;
}
#camSwitchIcon
{
    width: 100%;
    height: 100%;
}