.container {
    background-image: url('Background.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1600px;
    height: 2560px;
    text-align: center;
    box-sizing: border-box;
}

.ergebnis_button {
    background-color: magenta;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10%;
    padding: 10px 200px;
    font-size: 20px;
}
